:root {
    --backgroundUrl:0;
}

#ui-bar > #ui-bar-body {
    text-shadow: 0 0 0.2em #0000009f;
    background-size: cover; 
    background-image: var(--backgroundUrl);
    background-position: center;
}

#radioButtons label {
    margin-right: 1.2em;
    display: inline-block;
}

#storyCaptionContent button {
    background-color: rgba(51, 51, 51, 0.3);
    text-shadow: 0 0 0.2em #0000009f;
}